[Desktop Entry]
Name=AIRI
Exec=airi %U
Terminal=false
Type=Application
Icon=ai.moeru.airi
StartupWMClass=AIRI
Comment=AIRI is an AI VTuber/Waifu chatbot supporting Live2D/VRM avatars, featuring human-like interactions and modular stage-based rendering.
Categories=Utility;

